/*-------------
 	General
-------------*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font: normal 16px sans-serif;
	color: #555;
  background: #fff !important;
}

body {
  background: #fff !important;
  overflow-y: scroll;
}

.github-corner {
  z-index: 23;
}
@media screen and (max-width: 1150px) {
  .github-corner svg {
    height: 50px;
    width: 50px;
  }
}

/*----------------
 	Header
----------------*/

.header {
  position: relative;
  display: none;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.logo {
  max-width: 120px;
}

.logo svg {
  vertical-align: top;
}

.app-nav {
  display: flex;
}

.header .app-nav {
  position: relative;
  margin: 0;
  align-items: center;
}

.app-nav > * + * {
  margin-left: 16px;
}

.app-nav li ul {
  overflow-y: hidden;
  padding: 8px 0;
}

.app-nav li ul li {
  padding: 0;
  margin: 0;
}

.app-nav li ul a {
  padding: 7px 15px;
  transition: background-color .25s;
}
.app-nav li ul a:hover {
  background-color: rgba(56, 113, 208, .1);
}

.c-version-select {
  position: relative;
  border-radius: 4px;
  background: #187eef;
}
.c-version-select:after {
  content: '';
  position: absolute;
  right: 8px;
  top: 16px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #ffffff transparent transparent transparent;
}
.c-version-select select {
  position: relative;
  z-index: 1;
  border: none;
  background-color: transparent;
  padding: 10px 28px 10px 14px;
  color: #fff;
  font-weight: bold;
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  line-height: 16px;
  cursor: pointer;
}
.c-version-select option { color: #333; }
.c-version-select select:focus {
  outline: none;
}

section.cover ul {
  margin: 0;
}

/*----------------
 	Cover
----------------*/

section.cover,
section.cover.show {
  all: unset;
}
section.cover .cover-main {
  margin: 0;
}
section.cover.show .landing,
section.cover.show .header {
  display: flex;
}
.landing {
  display: none;
  position: relative;
  background: #fff;
  z-index: 22;
  width: 100%;
}
.landing__inner {
  display: flex;
  position: relative;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  max-width: 1070px;
  padding: 0 30px;
  margin: 0 auto;
}
.landing__title {
  text-align: center;
  margin-bottom: 25px;
  display: block;
}
.landing__main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.landing__view-more {
  margin: auto;
  width: 20px;
  justify-self: flex-end;
  margin-top: 25px;
  margin-bottom: 25px;
}
.landing h2 {
  color: #111;
}
@media screen and (max-width: 600px) {
  .links__item {
    max-width: 100%;
  }
}
/*----------------
 	NPM Info
----------------*/

.npm-info {
  word-wrap: normal;
  background-color: #111;
  border-radius: 2px;
  padding: 24px 24px;
  font-size: 16px;
  border-radius: 5px;
  max-width: 440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  line-height: 24px;
  margin-bottom: 80px;
  color: #ccc;
}
.npm-info input {
  all: unset;
  display: inline-block;
  color: #fff;
  margin-left: 8px;
}
@media screen and (max-width: 1150px) {
  .npm-info {
    margin-bottom: 30px;
  }
}

/*----------------
 	Links
----------------*/

.links {
  margin-left: -30px;
}
.links__item {
  float: left;
  padding-left: 30px;
  min-width: 25%; /* value to use above 800px */
  width: calc((800px - 100%) * 800); /* 800px "breakpoint" */
  max-width: 50%; /* value to use below 800px */
  margin-top: 25px;
}
@media screen and (max-width: 600px) {
  .links__item {
    max-width: 100%;
  }
}
.links__item-icon {
  display: flex;
  height: 30px;
  margin-bottom: 20px;
  align-content: flex-end
}
.links__item-icon svg {
  height: 30px;
  color: #187eef;
}
.links__item-title {
  margin-bottom: -8px;
}
.links__item-link svg {
  margin-left: 6px;
  width: 12px;
  color: #187eef;
  vertical-align: -.0475em;
  transition: ease .25s transform;
}
.links__item-link:hover svg {
  transform: translateX(3px);
}
