body {
  background-color: #fff;
  font-family: Nunito,'Helvetica Neue',Helvetica,Arial,sans-serif;
  overflow-y: scroll;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #187eef;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans Condensed', sans-serif;
  margin-bottom: 8px;
  margin-top: 16px;
}

h4 {
  color: #999;
  font-size: 14px;
  letter-spacing: .05em;
}

p {
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 0;
  color: #999;
}

code, pre {
  max-width: 100%;
  width: 100%;
}

.c-main {
  padding: 32px;
  margin: auto;
  max-width: 1432px;
}

table {
  border-radius: 3px;
}

tr + tr td {
  border-top: 1px solid #e5e5e5;
}

td {
  padding: 6px 12px 6px 0;
  vertical-align: middle;
}

td:last-child {
  width: 100%;
}

td h5,
td pre[class*="language-"] {
  margin: 0;
}

@media screen and (max-width: 480px) {
  .c-main {
    padding: 8px;
  }
}

.c-header {
  display: flex;
  align-items: center;
}
  .c-header__tab + * {
    margin-left: 32px;
  }
  .c-header__tab--right {
    margin-left: auto;
  }
    .c-header__tab a {
      color: #666;
      font-size: .875rem;
      font-weight: 700;
    }
    .c-header__tab a:hover {
      text-decoration: underline;
    }
    .c-header__tab .is-disabled,
    .c-header__tab .is-active {
      color: #187eef;
      cursor: default;
    }
    .c-header__tab .is-disabled:hover,
    .c-header__tab .is-active:hover {
      text-decoration: none;
    }
    .c-header__tab .is-disabled {
      color: #ccc;
    }

.c-logo {
  width: 120px;
  display: inline-block;
  position: relative;
}
  .c-logo svg {
    display: inine-block;
    vertical-align: top;
    width: 100%;
  }

.c-columns {
  display: flex;
  max-width: 100%;
  margin-top: 16px;
  flex-wrap: wrap;
}

@media screen and (min-width: 490px) {
  .c-columns {
    margin-left: -16px;
  }
}

.c-column {
  flex-grow: 1;
  width: 33.333333%;
  min-width: 100%;
  display: none;
}

.c-column.is-visible {
  display: block;
}

@media screen and (min-width: 490px) {
  .c-column {
    padding-left: 16px;
    min-width: 400px;
  }
}

.c-note {
  background: #d9edfd;
  border-radius: 4px;
  padding: 10px;
  position: relative;
  padding-left: 40px;
  margin-top: 8px;
}

  .c-note svg {
    width: 18px;
    height: 18px;
    float: left;
    margin-left: -30px;
  }

  .c-note p {
    margin-top: 0;
    color: #5c9fd6;
  }

[data-type] {
  position: relative;
}

[data-type]::after {
  content: attr(data-type);
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 11px;
  padding: 2px 3px 1px 3px;
  text-shadow: none;
  color: #fff;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .05em;
}

[data-type="socket"]::after {
  background: #9291bf;
}

[data-type="server"]::after {
  background: #7a9a99;
}

[data-version] {
  border: none;
  padding: 8px;
  border-radius: 4px;
  background: #187eef;
  color: #fff;
  font-weight: bold;
}

/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*="language-"],
pre[class*="language-"] {
  background: none;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  -moz-osx-font-smoothing: initial;
  -webkit-font-smoothing: initial;
  border-radius: 4px;
  color: #525252;
  display: block;
  overflow: auto;
  font-size: 12px;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 8px 12px;
  margin: 8px 0 0 0;
  overflow: auto;
  box-shadow: 0 1px 1px rgba(0,0,0,.125);
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #999;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

.token.function {
  color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
  color: #e90;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
